/*------------HEADER NAV------------*/
.navbar{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: white;
}

.navbar img{
	height: 50px;
}

.navbar-toggle .icon-bar{
	background-color: gray;
}

nav ul li {
    margin-right: 14px;
}
nav ul li a{
    color: #002366;
}

.quote-rotate img {
    transform:  rotate(180deg);
}
/*-------------IMAGE INDEX-------------*/
.hero-image{
    background-image: url("../img/background-about-us.jpg");
    min-height: 100vh !important;
}

.hero-image .texto-principal{
    padding-top: 5%;
}

/*----------UTILITIES--------------*/
.row {
    margin-right: 0px;
    margin-left: 0px; 
}
.mg-0{
    margin: 0 auto;
}
.mgb-10{
    margin-bottom: 10%;
}
.mgt-1{
    margin-top: 1%
}
.mgb-1{
    margin-bottom: 1%;
}
.mgt-3{
    margin-top: 3%;
}
.mgb-3{
    margin-bottom: 3%;
}
.mgb-10{
    margin-bottom: 10%;
}
section{
    padding-top: 70px;
}


/*------------ BUTTONS ------------*/
.b-sty{
    border: none;
    border-radius: 3px;
    color: white;  
    font-size: 22px;
 }
.b-sty:hover{
    background-color: #179AD6;
    border: none;
    border-radius: 3px;
    font-size: 22px;
}
.read{
    background-color: #002366;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.apply{
    background-color: #179AD6;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 66%;
}
.apply:hover {
    background-color: white;
    color: #002366;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 66%;
}
.contact-form{
    background-color: transparent;
    border: 1px solid white;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 66%;
 }
 .contact-form a {
    text-decoration: none;
    color: white;
 }
 .contact-form:hover{
    border: 1px solid #179AD6;
 }

.careers{
    background-color: #179AD6;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 3%;
    margin-bottom: 5%;
}
.careers:hover {
    background-color: #002366;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 3%;
    margin-bottom: 5%;
}
.img-founder{
    width: 100%;
}
.blanco{
    background-color: white;
}
.gris{
    background-color: #f6f6f6;
}

/*Footer*/
footer {
    border-top: 1px solid #f6f6f6;
}
.contact a{
    font-size: 18px;
}
.img-contact{
    padding:1%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.pd-3{
    padding: 3%;
}
.pd-2{
    padding: 2%;
}
.pd-img{
    margin-top: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
}
.footer-text{
    font-size: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}
/* Containers */

@media only screen and (min-width: 768px) {
  .container-xs,
  .container-sm,
  .container-md {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
  }

  .container-xs {
    width: 508px;
  }

  .container-sm {
    width: 748px;
  }

  .container-md {
    width: 968px;
  }
}
@media only screen and (max-width: 480px) {
  .container-xs,
  .container-sm,
  .container-md {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
    #button{
        background-color: #002366;
        border: 1px solid #002366;
        border-radius: 0;
        width: 100%;
        height: 42px;  
        font-size: 22px;
    }
    #apply{
        background-color: #179AD6;
        width: 100%;
        border-radius: 0;
        height: 42px;
        font-size: 22px;
    }
    #contact-form{
        background-color: transparent;
        width: 100%;
        border: 1px solid white;
        border-radius: 0;
        height: 42px;
        font-size: 22px;
    }
    #img-header{
        padding-left: 33%;
    }
    #title{
        font-size: 33px;
    }
    #texto{
        text-align: center;
    }
    #texto2{
        text-align: center;
        font-size: 14px
    }
    #texto3{
        margin-top: 10%;
    }
    #texto4{
        font-size: 17px;
        text-align: center;
    }
    #evolve{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    #quote1{
        text-align: center;
    }
    #quote{
        display: block;
        text-align: center;
    }
}