* {
	text-align: center;
	font-family: "ProximaNova-Regular"
}
@font-face {
	font-family: "ProximaNova-Regular";
	src: url('../fonts/proxima-nova/proximanova-regular-webfont.ttf');
}

@font-face {
	font-family: "ProximaNova-Light";
	src: url('../fonts/proxima-nova/proximanova-light-webfont.ttf');
}
.row, h1, h2, h3, p, .text-box {
	margin: 0;
	padding: 0;
}
h1 {
	/*font-size: 50px;*/
	font-size: 3.125em;
}
h2 {
	/*font-size: 45px;*/
	font-size: 2.813em;
	font-family: "ProximaNova-Light";
}
h3 {
	/*font-size: 30px;*/
	font-size: 1.875em;
	font-family: "ProximaNova-Light";
}
p {
	/*font-size: 18px;*/
	font-size: 1.125em;
}
.quote {
	/*font-size: 24px; size from brief*/
	font-size: 1.563em;
	font-family: "ProximaNova-Light";
}
.text-box {
	/*font-size: 14px;*/
	font-size: 0.875em;
}
#sentient-description .quote {
	/*font-size: 24px; size from brief*/
	font-size: 1.563em;
	font-family: "ProximaNova-Light";
    margin: 9% 0;
}
#sentient-description .text-box {
	/*font-size: 14px;*/
	font-size: 0.875em;
	margin: 0 6%;
}

/*--------------- SECTION BANNER -------------*/

#banner {
	background-image: url('../img/hero-image.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding-top: 17%;
}
#banner .arrow-down img {
	width: 35px;
	margin: 11% 0% 3%;
}
@media screen and (max-width: 480px) {
	#banner {
		padding-top: 25%;
	}
	.arrow-down {
		margin-bottom: 10%;
	}
}

/*---------SECTION SENTIENT-DESCRIPTION--------*/
.home-links {
	border: 1px solid #E6E5E5;
	height: 267px;
	padding: 10% 0;
}
.home-links img, .home-links h3 {
	margin-bottom: 6%;
}
.home-links .quote {
	padding: 0 5%;
}
.links {
	padding: 0 16%;
	margin-top: 9%;
}

@media screen and (max-width: 480px) {
    .links {
    	padding: 10% 0;
    }
    .home-links {
    	margin-top: 10%;
    }
}
/*------------- SECTION CONTACT-US ----------*/
#contact-us {
	background: url('../img/background-contac-us.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	margin-top: 9%;
	padding: 7% 0;
}

#contact-us .form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}
#contact-us .form-control {
	height: 2%;
}
@media screen and (max-width: 480px) {
    #contact-us {
    	background-image: none;
     	background-color: #F6F6F6;
     	border-bottom: 1px solid #E0E0E0;
     	color: #979797;
    }

    #contact-us .text-contact {
		color: #002366;
    }
}

/*-------------BTN-SEND--------------*/
.btn-send {
  color: #fff;
  background-color: #179AD6;
  border-radius: 3px;
  width: 30%;
  margin: 0 auto;
  font-size: 1.875em;
}

.btn-send:hover {
  color: #fff;
  background-color: #002366;
  border-radius: 3px;
}
@media screen and (max-width: 480px) {
    .btn-send {
    	color: #fff;
  		background-color: #179AD6;
  		border-radius: 3px;
  		width: 100%;
    }
}
#contact-us .form-group:last-child {
	margin-bottom: 0;
}
/*-----------FORM-CONTROL----------------*/
.form-contact-us {
  border-radius: 0%;
  font-size: 1.875em;
}
#contact-us h3 {
	margin: 10% 0;
}
/*---------PAGE PEOPLE---------------*/

.people-description {
	text-align: justify;
}

#sentient-people img {
	width: 100%;
}